### Task 1: Extract the ‘text’ in all the CSV files and store them into a single ‘.txt file’.

In [4]:
#pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp39-cp39-win_amd64.whl (11.6 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\masterofdatascience\sem_2\hit137_software_now\assignment_2\hit137-software-now-assignment-2\env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     -------------------------------------- 508.0/508.0 KB 2.9 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Using cached numpy-2.0.2-cp39-cp39-win_amd64.whl (15.9 MB)
Requirement already satisfied: six>=1.5 in d:\masterofdatascience\sem_2\hit137_software_now\assignment_2\hit137-software-now-assignment-2\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.2 pytz-2024.2 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'd:\masterOfDataScience\sem_2\HIT137_Software_Now\assignment_2\HIT137-SOFTWARE-NOW-Assignment-2\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [7]:
import os
import pandas as pd

#### Exploring Data

In [16]:
csv_files = ['CSV1.csv', 'CSV2.csv', 'CSV3.csv', 'CSV4.csv']

In [22]:
for file in csv_files:
    df = pd.read_csv(file)
    print("File name:",file)
    print(df.columns)

File name: CSV1.csv
Index(['Unnamed: 0', 'HADM_ID', 'SHORT-TEXT', 'ICD9_CODE', 'ICD9', 'Label'], dtype='object')
File name: CSV2.csv
Index(['Unnamed: 0', 'HADM_ID', 'TEXT', 'LABLE', 'entites', 'group'], dtype='object')
File name: CSV3.csv
Index(['HADM_ID', 'TEXT', 'ICD9_CODE', 'Label'], dtype='object')
File name: CSV4.csv
Index(['HADM_ID', 'TEXT', 'LABLE'], dtype='object')

In [25]:
df= pd.read_csv("CSV1.csv")
df.head()

,Unnamed: 0,HADM_ID,SHORT-TEXT,ICD9_CODE,ICD9,Label
0,1,100003,history of present illness mr known lastname i...,"53100, 2851, 07054, 5715, 45621, 53789, 4019, ...","531, 285, 070, 571, 456, 537, 401, 535, 782",285
1,3,100009,history of present illness yo man with known c...,"41401, 99604, 4142, 25000, 27800, V8535, 4148,...","414, 996, 414, 250, 278, V85, 414, 411, V45, V...",285
2,5,100011,history of present illness y o male helmeted m...,"85206, 82111, 86403, 48242, 8600, 2851, 86121,...","852, 821, 864, 482, 860, 285, 861, 807, 822, 8...",285
3,9,100021,history of present illness year old spanish sp...,"E8788, E8497, 4019, 04104, 0413, 5728, V1581, ...","E87, E84, 401, 041, 041, 572, V15, 281, 780, 8...","281,287"
4,11,100028,history of present illness this is a year old ...,"5761, 0389, 5184, 57481, 99591, 42731, 2875, 8...","576, 038, 518, 574, 995, 427, 287, 873, E92",287

In [26]:
df= pd.read_csv("CSV2.csv")
df.head()

,Unnamed: 0,HADM_ID,TEXT,LABLE,entites,group
0,34,100199,Admission Date: [**2185-11-11**] Discha...,280,"[""Alzheimer's dementia"", 'coronary artery\ndis...",1
1,46,100227,Admission Date: [**2160-12-7**] ...,280,"['Methotrexate', 'UTI', 'rheumatoid arthritis'...",1
2,88,100452,Admission Date: [**2187-10-23**] ...,280,"['Allergies', 'syncope', 'DVT', 'CHF', 'HTN', ...",1
3,89,100456,Admission Date: [**2123-4-26**] ...,280,"['Allergies', 'Codeine', 'Remicade', 'Vancomyc...",1
4,107,100530,Admission Date: [**2124-2-14**] ...,280,"['Penicillins', 'seizure', 'hematemesis', 'tra...",1

In [27]:
df= pd.read_csv("CSV3.csv")
df.head()

,HADM_ID,TEXT,ICD9_CODE,Label
0,100001,Admission Date: [**2117-9-11**] ...,"250, 337, 584, 578, V58, 250, 536, 458, 250, 4...",0
1,100003,Admission Date: [**2150-4-17**] ...,"531, 285, 070, 571, 456, 537, 401, 535, 782",1
2,100006,Admission Date: [**2108-4-6**] Discharg...,"493, 518, 486, 203, 276, 785, 309, V12, V15",0
3,100007,Admission Date: [**2145-3-31**] ...,"560, 557, 997, 486, 401",0
4,100009,Admission Date: [**2162-5-16**] ...,"414, 996, 414, 250, 278, V85, 414, 411, V45, V...",1

In [28]:
df= pd.read_csv("CSV4.csv")
df.head()

   HADM_ID                                               TEXT LABLE
0   100003  Admission Date:  [**2150-4-17**]              ...   285
1   100009  Admission Date:  [**2162-5-16**]              ...   285
2   100011  Admission Date:  [**2177-8-29**]              ...   285
3   100021  Admission Date:  [**2109-8-17**]              ...   281
4   100030  Admission Date:  [**2199-12-3**]       Dischar...   285

## Task 1 Code: Output in combined_text.txt file

In [29]:
csv_files = {
    'CSV1.csv': 'SHORT-TEXT',
    'CSV2.csv': 'TEXT',
    'CSV3.csv': 'TEXT',
    'CSV4.csv': 'TEXT'
}

output_file = 'combined_texts.txt'

with open(output_file, 'w') as outfile:
    outfile.write('')

for file, text_column in csv_files.items():
    df = pd.read_csv(file)
    
    text_column_data = df[text_column]
    
    with open(output_file, 'a') as outfile:
        for text in text_column_data:
            outfile.write(str(text) + '\n')

print(f"Text extraction completed. All text saved to {output_file}.")

Text extraction completed. All text saved to combined_texts.txt.